/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */

@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --background-image-gradient-light: radial-gradient(
    57.58% 57.58% at 48.79% 42.42%,
    rgba(232, 90, 81, 0.2) 30%,
    rgba(191, 219, 254, 0) 63.22%
  );

  --background-image-gradient-dark: radial-gradient(
    57.58% 57.58% at 48.79% 42.42%,
    rgba(232, 90, 81, 0.5) 0%,
    rgba(191, 219, 254, 0) 63.22%
  );
}

@font-face {
  font-family: "Warnock Pro";
  src: url("./fonts/warnock-pro/WarnockPro-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

/* very large font sizes */
@font-face {
  font-family: "Warnock Pro";
  src: url("./fonts/warnock-pro/WarnockPro-SemiboldCapt.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Warnock Pro";
  src: url("./fonts/warnock-pro/WarnockPro-Regular.woff2");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Work Sans Variable", sans-serif;
  }
}

@layer utilities {
  .text-5xl,
  .text-6xl {
    font-family: "Warnock Pro", sans-serif;
  }

  .text-5xl.font-semibold,
  .text-6xl.font-semibold {
    font-family: "Warnock Pro", sans-serif;
  }
}

/* font syntax highlighting */
@font-face {
  font-family: "Monaspace";
  src: url("./fonts/syntax-highlight/syntax-highlight.woff2") format("woff2");
}

@font-palette-values --kung-fury {
  font-family: "Monaspace";
  override-colors:
    0 #c8d2ef /* curlies and tags */,
    1 hsl(250 100% 80%) /* ? */,
    2 #acbbe7 /* function */,
    3 hsl(188 100% 75%) /* ? */,
    4 #ff7777 /* () */,
    5 #fff /* property name */,
    6 hsl(210 40% 80%) /* ? */,
    7 #fda4a4 /* numbers */,
    8 #f3f4f6 /* angle brackets */;
}

pre > code {
  font-family: "Monaspace", monospace;
  font-palette: --kung-fury;
  border: none !important;
  background: transparent !important;
  color: white !important;
}

pre {
  min-width: 0;
  overflow-x: auto;
  padding: 2ch;
}

.h0 {
  font-family: var(--font-primary);
  font-size: 1.875rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .h0 {
    font-size: 3rem;
  }
}

h1,
.h1 {
  font-family: "Warnock Pro", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h2,
.h2 {
  font-family: "Warnock Pro", sans-serif;
  font-size: 2.8125rem;
  font-weight: 600;
  line-height: 1.3;
}

h3,
.h3 {
  font-family: "Warnock Pro", sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.4;
}

h4,
.h4 {
  font-family: "Warnock Pro", sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.4;
}
